 /* gradient background heavily influenced by this pen https://codepen.io/gabriellewee/pen/zYGxNKa?editors=1100*/


html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background: #111314;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 3rem;
	background: #101213;
	border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) hsla(0, 0%, 100%, .05);
}

footer {
	text-align: center;
	background: #101213;
	min-height: 4rem;
	color: #b1b1b1;
	padding-top: 20px;
	font-size: 12px;
	line-height: 20px;
}

nav {
	height: 3rem;
	margin: 0 auto;
	float: right;
	width: 100%;
	position: fixed;
}

nav ul {
	margin: 0 0;
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin: 0 50px 0 0;
}

a {
	color: #c1c0b9;
	text-decoration: none;
	font-family: 'Merriweather', serif;
	font-size: 15px;
	font-style: normal;
	font-stretch: expanded;
	font-weight: 400;
	line-height: 46px;
	letter-spacing: .4em;}

.active {
	color: #FBDE44FF;
}
.content {
	top: 13rem;
}

.bigname {
	color: hsla(0, 0%, 100%, .8);
	margin-top: 15px;
	/*font*/
	font-family: 'Merriweather', serif;
	font-size: 64px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
	color: hsla(0, 0%, 100%, .8);
}
.container {
	padding: 5rem;
}

.content > section{
	max-width: 75%;
	margin: 2em auto;
	overflow: auto;
}

/* About me*/

.column {
  float: left;
  width: 45%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

p {
	font-family: 'Merriweather', serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
	color: hsla(0, 0%, 100%, .4);
}

blockquote {
	font-family: 'Open Sans', sans-serif;
	font-size: 17.5px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;
}

h1 {
	margin-top: 15px;
	/*font*/
	font-family: 'Merriweather', serif;
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
	color: #FBDE44FF;
}

h3 {
	margin-bottom: 10px;
	/*font*/
	font-family: 'Merriweather', serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 15.4px;
}

pre {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px; }

img {
	width: 50%;
	height: auto;

}

div img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.message {
	text-align: center;
	padding: 5px;
	border: #ccc dotted 2px;
	margin-top: 2rem;
}

.logo {
	width: 300px;
	display: block;
	margin: auto;
}

.form-group {
	margin: 1rem 0;

}

input[type='text'],
select,
textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.2rem;
	border: 1px solid black;
	background:	gray;
}

.btn {
	display: block;
	width: 100%;
	background: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	outline: none;
	margin-top: 1rem;
}

#home { background: #111314; }
#about { background: #111314; }
#resume {  }
#project { background: #111314;}
#contact {
	max-width: 75%;
  margin: 12em auto;
  overflow: auto;
	background-color: #111314; }

@media (max-width: 767.98px) {
  .sidebar-wrapper {
    position: static;
    width: inherit;
  }
  .main-wrapper {
    padding: 30px;
  }
  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 5px;
  }
  .main-wrapper .upper-row {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .skillset .level-title {
    display: inline-block;
    float: left;
    width: 30%;
    margin-bottom: 0;
  }
}
