<!-- ######################     About   ########################## -->
<div class ="container">
    <h1>Connect with me</h1>
    <div class = "row">
      <div class="column">
        <span class = "grayed">Network</span>
        <br>
        <br>
        <a href="https://www.linkedin.com/in/jonathan-leventhal-b28058128/">LinkedIn</a>
        <br>
        <a href="https://www.youtube.com/channel/UCO24IUADXDuuRg7ugvmG69g/featured">Youtube</a>
        <br>
        <a href="https://twitter.com/jdleventhal">Twitter</a>
        <br>
        <a href="https://github.com/jonathanlev">Github</a>
      </div>
    </div>
</div>
