<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Standard CSS -->
    <link rel="stylesheet" href="../static/style.css" />
    <!-- Google Font - Merriweather, Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,900;1,300;1,400&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="manifest" href="../static/site.webmanifest">


    <title>Portfolio</title>
  </head>

  <!-- #########################    Body    ############################### -->
  <body>

    <!-- ######################     Main Navigation   ########################## -->
  <header class="header">
    <nav>
      <ul>
        {% for href, caption in [('#home','Home'),('#about','About'),('#resume','Resume'),('#portfolio','Portfolio'),('#contact','Contact')] %}
            {% if href == '#home' %}
                <li><a class="active" href="{{ href }}">{{ caption }}</a></li>
            {% else %}
                <li><a href="{{ href }}">{{ caption }}</a></li>
            {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </header>
    <div class="content">
      <section id="{{ "home" }}">{% include 'home.html' %}</section>
      <section id="{{ "about" }}">{% include 'about.html' %}</section>
      <section id="{{ "resume" }}">{% include 'resume.html' %}</section>
      <section id="{{ "portfolio" }}">{% include 'portfolio.html' %}</section>
      <section id="{{ "contact" }}">{% include 'contact.html' %}</section>
    </div><!-- end of content-->
    <!-- ######################     Footer   ########################## -->
    <footer class="footer">
        <p>Jonathan Leventhal  © 2020</p>
    </footer>

  </body>
  </html>

    <!-- JS -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>

  <script>
       $(document).ready(function () {
          $(document).on("scroll", onScroll);

          $('a[href^="#"]').on('click', function (e) {
            e.preventDefault();
            $(document).off("scroll");

            $('a').each(function () {
              $(this).removeClass('active');
            })
            $(this).addClass('active');

            var target = this.hash;
            $target = $(target);
            $('html, body').stop().animate({
              'scrollTop': $target.offset().top+2
            }, 500, 'swing', function () {
              window.location.hash = target;
              $(document).on("scroll", onScroll);
            });
          });
        });

        function onScroll(event){
          var scrollPosition = $(document).scrollTop();
          $('nav a').each(function () {
            var currentLink = $(this);
            var refElement = $(currentLink.attr("href"));
            if (refElement.position().top <= scrollPosition && refElement.position().top + refElement.height() > scrollPosition) {
              $('nav ul li a').removeClass("active");
              currentLink.addClass("active");
            }
            else{
              currentLink.removeClass("active");
            }
          });
        }
    </script>
<!--
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
